# Analyse de donnée
# Nom prénom

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("data/cost-of-living.csv")

In [5]:
df.head()

,Unnamed: 0,city,country,x1,x2,x3,x4,x5,x6,x7,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,...,36.26,223.87,133.38,596.16,325.82,2619.46,1068.90,586.35,7.96,1
1,1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,...,121.19,1080.07,564.30,2972.57,1532.23,17333.09,9174.88,1382.83,5.01,1
2,2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,...,80.32,482.85,270.15,1117.69,584.37,2694.05,1269.44,483.19,9.15,1
3,3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,...,61.82,559.52,281.78,1754.40,684.81,3536.04,2596.44,419.02,7.80,1
4,4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,...,108.30,809.83,583.60,2621.05,1683.74,21847.94,10832.90,2672.23,3.47,1

In [13]:
dd = df.head(10)
dd

,Unnamed: 0,city,country,x1,x2,x3,x4,x5,x6,x7,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,...,36.26,223.87,133.38,596.16,325.82,2619.46,1068.90,586.35,7.96,1
1,1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,...,121.19,1080.07,564.30,2972.57,1532.23,17333.09,9174.88,1382.83,5.01,1
2,2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,...,80.32,482.85,270.15,1117.69,584.37,2694.05,1269.44,483.19,9.15,1
3,3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,...,61.82,559.52,281.78,1754.40,684.81,3536.04,2596.44,419.02,7.80,1
4,4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,...,108.30,809.83,583.60,2621.05,1683.74,21847.94,10832.90,2672.23,3.47,1
5,5,Bangkok,Thailand,2.60,28.09,5.62,2.25,4.21,2.06,0.50,...,93.22,584.77,280.92,1994.97,915.48,5229.36,2504.73,615.33,5.64,1
6,6,Kolkata,India,2.00,14.69,3.67,2.20,3.67,1.60,0.36,...,32.30,148.95,84.21,397.89,247.53,1057.12,583.39,536.14,8.28,1
7,7,Guangzhou,China,4.05,27.94,4.89,0.84,1.68,3.41,0.44,...,46.25,523.26,311.48,1218.89,675.11,12650.42,5325.41,1189.07,5.11,1
8,8,Mumbai,India,3.67,18.36,3.67,2.45,4.28,2.49,0.46,...,41.04,514.39,285.88,1388.63,681.14,6073.04,2768.67,627.64,7.87,1
9,9,Beijing,China,4.19,30.73,5.59,1.40,4.05,4.55,0.51,...,117.38,1176.59,660.60,2732.46,1426.41,17450.87,9463.20,1514.55,5.00,1

In [11]:
df.describe()

,Unnamed: 0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
count,4874.000000,4449.000000,4432.000000,4552.000000,4385.000000,4445.000000,4540.000000,4438.000000,4571.000000,4494.000000,...,4337.000000,3533.000000,3465.000000,3418.000000,3385.000000,2681.000000,2609.000000,3459.000000,3894.000000,4874.000000
mean,2436.500000,10.321643,43.213592,6.875426,3.376732,3.937287,2.742822,1.513053,1.110768,1.139455,...,85.420108,710.696156,559.472898,1252.427627,973.603867,3207.173025,2323.089766,1817.033501,6.527214,0.186705
std,1407.146936,7.165507,25.365827,2.669017,2.080606,2.088773,1.353734,0.905525,0.749957,0.513458,...,40.328050,650.404203,529.592777,1222.803640,926.552107,6222.564176,3536.720519,1626.482870,5.423472,0.389714
min,0.000000,0.450000,3.250000,1.060000,0.320000,0.310000,0.220000,0.110000,0.070000,0.260000,...,7.570000,21.690000,12.200000,61.200000,27.110000,109.530000,48.010000,18.000000,0.600000,0.000000
25%,1218.250000,4.310000,22.350000,4.910000,1.590000,2.220000,1.560000,0.750000,0.470000,0.820000,...,57.620000,254.440000,168.970000,465.720000,325.920000,1118.030000,778.890000,478.255000,3.000000,0.000000
50%,2436.500000,9.830000,40.000000,6.960000,3.000000,3.640000,2.630000,1.450000,1.040000,1.040000,...,83.100000,519.350000,400.000000,934.000000,720.710000,2077.390000,1558.040000,1298.370000,5.210000,0.000000
75%,3654.750000,15.000000,60.000000,8.500000,5.000000,5.190000,3.722500,2.080000,1.570000,1.300000,...,106.670000,986.760000,791.670000,1700.000000,1367.330000,3782.820000,2796.500000,2742.500000,8.497500,0.000000
max,4873.000000,56.980000,211.350000,21.810000,15.000000,17.500000,10.000000,8.000000,5.770000,6.810000,...,542.740000,12608.830000,8989.370000,27006.110000,17868.180000,237522.540000,79174.180000,12681.260000,61.330000,1.000000

In [15]:
print(dd.to_markdown(tablefmt="grid"))

+----+--------------+-----------+-------------+------+-------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+---------+---------+--------+-------+-------+-------+-------+-------+---------+----------+-------+-------+-------+--------+---------+--------+---------+---------+----------+----------+---------+-------+----------------+
|    |   Unnamed: 0 | city      | country     |   x1 |    x2 |   x3 |   x4 |   x5 |   x6 |   x7 |   x8 |   x9 |   x10 |   x11 |   x12 |   x13 |   x14 |   x15 |   x16 |   x17 |   x18 |   x19 |   x20 |   x21 |   x22 |   x23 |   x24 |   x25 |   x26 |   x27 |   x28 |   x29 |   x30 |   x31 |   x32 |   x33 |     x34 |     x35 |    x36 |   x37 |   x38 |   x39 |   x40 |   x41 |     x42 |      x43 |   x44 |   x45 |   x46 |    x47 |     x48 |    x49 |     x50 |     x51 |      x52 |      x53 |     x54 |   x55 |   data_quality |
+====+==============+===========+=============+======+=======+======+======+======+======+======+======+======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=======+=========+=========+========+=======+=======+=======+=======+=======+=========+==========+=======+=======+=======+========+=========+========+=========+=========+==========+==========+=========+=======+================+
|  0 |            0 | Delhi     | India       | 4.9  | 22.04 | 4.28 | 1.84 | 3.67 | 1.78 | 0.48 | 0.19 | 0.73 |  0.51 |  0.88 |  1.01 |  4.32 |  3.79 |  5.57 |  1.8  |  0.75 |  1.01 |  0.6  |  0.36 |  0.41 |  0.7  |  0.36 |  9.79 |  1.53 |  2.51 |  4.28 |  0.49 | 11.63 |  0.61 |  0.22 |  1.22 |  1.25 | 12242.6 | 22972.3 |  57.37 |  0.01 |  7.96 | 21.07 |  8.47 |  4.9  |   73.76 |  1985.7  | 32.05 | 33.34 | 49.35 |  36.26 |  223.87 | 133.38 |  596.16 |  325.82 |  2619.46 |  1068.9  |  586.35 |  7.96 |              1 |
+----+--------------+-----------+-------------+------+-------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+---------+---------+--------+-------+-------+-------+-------+-------+---------+----------+-------+-------+-------+--------+---------+--------+---------+---------+----------+----------+---------+-------+----------------+
|  1 |            1 | Shanghai  | China       | 5.59 | 40.51 | 5.59 | 1.12 | 4.19 | 3.96 | 0.52 | 0.32 | 2.68 |  2.57 |  1.18 |  2.17 | 18.01 |  4.67 | 12.79 |  2.22 |  1.55 |  2.11 |  1.47 |  0.82 |  1.02 |  0.82 |  0.62 | 13.97 |  0.91 |  1.93 |  3.49 |  0.56 | 27.94 |  2.1  |  0.42 |  8.38 |  1.17 | 19555   | 20360.8 |  64.76 |  0.03 | 16.74 | 63.23 | 14.67 |  8.38 | 1356.63 | 25883.5  | 69.17 | 34.26 | 86.55 | 121.19 | 1080.07 | 564.3  | 2972.57 | 1532.23 | 17333.1  |  9174.88 | 1382.83 |  5.01 |              1 |
+----+--------------+-----------+-------------+------+-------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+---------+---------+--------+-------+-------+-------+-------+-------+---------+----------+-------+-------+-------+--------+---------+--------+---------+---------+----------+----------+---------+-------+----------------+
|  2 |            2 | Jakarta   | Indonesia   | 2.54 | 22.25 | 3.5  | 2.02 | 3.18 | 2.19 | 0.59 | 0.27 | 1.28 |  1.21 |  0.83 |  1.7  |  6.66 |  3.46 |  8.32 |  2.8  |  1.52 |  2.08 |  1.24 |  1.35 |  2.1  |  1.13 |  0.42 | 20.66 |  2.06 |  3.18 |  2.22 |  0.22 |  9.53 |  0.41 |  0.29 |  2.86 |  0.79 | 25489.7 | 27978.7 |  80.12 |  0.11 | 30.45 | 30.86 | 11.71 |  3.18 |  132.74 |  9934.37 | 38.87 | 25.95 | 72.89 |  80.32 |  482.85 | 270.15 | 1117.69 |  584.37 |  2694.05 |  1269.44 |  483.19 |  9.15 |              1 |
+----+--------------+-----------+-------------+------+-------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+---------+---------+--------+-------+-------+-------+-------+-------+---------+----------+-------+-------+-------+--------+---------+--------+---------+---------+----------+----------+---------+-------+----------------+
|  3 |            3 | Manila    | Philippines | 3.54 | 27.4  | 3.54 | 1.24 | 1.9  | 2.91 | 0.93 | 0.51 | 1.63 |  1.19 |  0.89 |  1.73 |  5.06 |  4.19 |  6.64 |  2.66 |  1.42 |  2.95 |  1.42 |  1.76 |  1.75 |  1.36 |  0.65 |  8.84 |  1.15 |  1.55 |  2.65 |  0.53 | 11.86 |  0.71 |  0.24 |  2.12 |  1.38 | 22984   | 18200.6 |  97.45 |  0.15 | 38.02 | 48.09 |  5.85 |  5.48 |  254.89 | 10860.6  | 38.45 | 26.96 | 69.47 |  61.82 |  559.52 | 281.78 | 1754.4  |  684.81 |  3536.04 |  2596.44 |  419.02 |  7.8  |              1 |
+----+--------------+-----------+-------------+------+-------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+---------+---------+--------+-------+-------+-------+-------+-------+---------+----------+-------+-------+-------+--------+---------+--------+---------+---------+----------+----------+---------+-------+----------------+
|  4 |            4 | Seoul     | South Korea | 7.16 | 52.77 | 6.03 | 3.02 | 4.52 | 3.86 | 1.46 | 0.78 | 2.13 |  2.78 |  3.66 |  4.02 | 11.13 | 10.62 | 40.41 |  6.79 |  3.7  |  6.4  |  6.36 |  3.86 |  2.81 |  2.4  |  1.06 | 15.08 |  2.1  |  2.49 |  3.39 |  0.98 | 41.47 |  2.86 |  0.9  |  9.05 |  1.41 | 28648.7 | 26851.1 | 176.24 |  0.16 | 22.06 | 54.84 | 17.99 |  9.42 |  384.01 | 18284    | 56.99 | 45.49 | 70.21 | 108.3  |  809.83 | 583.6  | 2621.05 | 1683.74 | 21847.9  | 10832.9  | 2672.23 |  3.47 |              1 |
+----+--------------+-----------+-------------+------+-------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+---------+---------+--------+-------+-------+-------+-------+-------+---------+----------+-------+-------+-------+--------+---------+--------+---------+---------+----------+----------+---------+-------+----------------+
|  5 |            5 | Bangkok   | Thailand    | 2.6  | 28.09 | 5.62 | 2.25 | 4.21 | 2.06 | 0.5  | 0.26 | 1.61 |  1.86 |  1.44 |  1.96 | 15.94 |  3    | 11.51 |  2.83 |  1.43 |  1.83 |  1.42 |  1.4  |  1.2  |  1.16 |  0.46 | 19.66 |  1.61 |  2.83 |  4.21 |  1.24 | 36.52 |  0.98 |  1.21 |  5.2  |  1.18 | 56184.9 | 25441.4 |  77.59 |  0.04 | 15.08 | 54.94 |  9.78 |  7.44 |  499.64 | 14138.6  | 55.5  | 36.41 | 82.87 |  93.22 |  584.77 | 280.92 | 1994.97 |  915.48 |  5229.36 |  2504.73 |  615.33 |  5.64 |              1 |
+----+--------------+-----------+-------------+------+-------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+---------+---------+--------+-------+-------+-------+-------+-------+---------+----------+-------+-------+-------+--------+---------+--------+---------+---------+----------+----------+---------+-------+----------------+
|  6 |            6 | Kolkata   | India       | 2    | 14.69 | 3.67 | 2.2  | 3.67 | 1.6  | 0.36 | 0.15 | 0.63 |  0.37 |  0.69 |  0.91 |  4.85 |  3.03 |  6.36 |  1.88 |  0.65 |  1.21 |  0.64 |  0.4  |  0.44 |  0.37 |  0.34 |  9.49 |  1.78 |  2.9  |  4.04 |  0.21 |  3.98 |  0.61 |  0.31 |  1.22 |  1.33 | 12242.6 | 22438.1 |  31.36 |  0.01 |  7.4  | 18.19 |  7.98 |  3.24 |   49.57 |  1588.99 | 28    | 26.12 | 48.89 |  32.3  |  148.95 |  84.21 |  397.89 |  247.53 |  1057.12 |   583.39 |  536.14 |  8.28 |              1 |
+----+--------------+-----------+-------------+------+-------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+---------+---------+--------+-------+-------+-------+-------+-------+---------+----------+-------+-------+-------+--------+---------+--------+---------+---------+----------+----------+---------+-------+----------------+
|  7 |            7 | Guangzhou | China       | 4.05 | 27.94 | 4.89 | 0.84 | 1.68 | 3.41 | 0.44 | 0.32 | 1.88 |  1.6  |  1.01 |  1.68 |  8.83 |  3.7  | 11.53 |  1.98 |  1.41 |  1.79 |  1.28 |  0.72 |  0.98 |  0.48 |  0.5  | 11.17 |  0.93 |  2.02 |  3.63 |  0.35 | 27.94 |  1.68 |  0.36 |  6.15 |  1.17 | 20951.8 | 20415.4 |  56.19 |  0.02 | 16.34 | 33.52 | 18.62 |  8.38 |  544.75 | 24094.5  | 63.51 | 32.53 | 69.98 |  46.25 |  523.26 | 311.48 | 1218.89 |  675.11 | 12650.4  |  5325.41 | 1189.07 |  5.11 |              1 |
+----+--------------+-----------+-------------+------+-------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+---------+---------+--------+-------+-------+-------+-------+-------+---------+----------+-------+-------+-------+--------+---------+--------+---------+---------+----------+----------+---------+-------+----------------+
|  8 |            8 | Mumbai    | India       | 3.67 | 18.36 | 3.67 | 2.45 | 4.28 | 2.49 | 0.46 | 0.19 | 0.74 |  0.5  |  0.84 |  0.97 |  5.81 |  3.68 |  6.19 |  2.1  |  0.69 |  1.34 |  0.59 |  0.44 |  0.45 |  0.64 |  0.35 |  9.79 |  2.26 |  3.63 |  4.28 |  0.24 |  4.9  |  0.31 |  0.31 |  1.22 |  1.34 | 12242.6 | 22586.1 |  44    |  0.01 |  9.47 | 25.92 | 11.18 |  4.28 |  109.9  |  3670.94 | 32.08 | 28.04 | 50.37 |  41.04 |  514.39 | 285.88 | 1388.63 |  681.14 |  6073.04 |  2768.67 |  627.64 |  7.87 |              1 |
+----+--------------+-----------+-------------+------+-------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+---------+---------+--------+-------+-------+-------+-------+-------+---------+----------+-------+-------+-------+--------+---------+--------+---------+---------+----------+----------+---------+-------+----------------+
|  9 |            9 | Beijing   | China       | 4.19 | 30.73 | 5.59 | 1.4  | 4.05 | 4.55 | 0.51 | 0.43 | 1.97 |  2.07 |  1.2  |  1.85 | 12.66 |  3.94 | 12.56 |  1.95 |  1.84 |  1.91 |  1.45 |  0.88 |  0.97 |  0.85 |  0.63 | 11.87 |  1.01 |  2.4  |  4.19 |  0.7  | 41.9  |  1.96 |  0.42 | 11.17 |  1.18 | 23745.3 | 22024.3 |  53.68 |  0.04 | 20.28 | 55.84 | 29.8  |  8.38 |  941.31 | 26805    | 65.28 | 42.74 | 84.19 | 117.38 | 1176.59 | 660.6  | 2732.46 | 1426.41 | 17450.9  |  9463.2  | 1514.55 |  5    |              1 |
+----+--------------+-----------+-------------+------+-------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+---------+---------+--------+-------+-------+-------+-------+-------+---------+----------+-------+-------+-------+--------+---------+--------+---------+---------+----------+----------+---------+-------+----------------+